body{
    background-color: bisque;
}
h1{
    background-color: aquamarine;
}
.recepie p{
    margin-left:300px;
    margin-right: 300px;
    margin-top: 30px;
    padding: 30px;
    background-color: rgb(184, 182, 182) ;
    
}
.ingre{
    margin-top:100px;
    margin-right: 450px;
    margin-left:450px;
    padding: 0px 50px;
    background-color: rgb(184, 182, 182);
}
.instr{
    margin-top: 100px ;
    margin-right:450px;
    margin-left: 450px;
    padding: 0px 50px;
    background-color:rgb(184, 182, 182);
}